<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="abe1e8b6-80a8-4dd5-9c11-fec47c324a6a" >
		<http:request-connection protocol="HTTPS" host="${http.bankpro.host}" port="${http.bankpro.port}" tlsContext="TLS_Context"/>
	</http:request-config>
	
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="5dcbf016-0e12-4612-858d-b971ed57272d" >
		<tls:trust-store path="truststore.jks" password="keystorepass" type="jks" insecure="true" />
	</tls:context>
	<configuration-properties doc:name="Configuration properties" doc:id="e68334a2-325c-4fbf-b8bb-755a863ca5ed" file="config-${env}.properties" />
	<http:listener-config name="api-httpListenerConfig" doc:name="HTTP Listener config" doc:id="938c48d6-2433-4c59-b6f5-5cace901138c" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="${api.id}" doc:name="API Autodiscovery" doc:id="44a7a04d-45b0-4c1a-93c9-d936298ec43b" flowRef="api-main" />
</mule>
